In [63]:
import pandas as pd
from glob import glob
from datetime import datetime, timedelta
glob("data/*")

['data/Company.csv',
 'data/CompanyValues.csv',
 'data/Company_Tweet.csv',
 'data/Tweet.csv']

In [64]:
company = pd.read_csv("data/Company.csv")
bridge = pd.read_csv("data/Company_Tweet.csv")
tweet = pd.read_csv("data/Tweet.csv")
company_values = pd.read_csv("data/CompanyValues.csv")
df = tweet.join(bridge.set_index('tweet_id'), on=['tweet_id'], how="left")
company.shape, bridge.shape, tweet.shape, company_values.shape

((6, 2), (4336445, 2), (3717964, 7), (17528, 7))

In [ ]:
df['new_col'] = df[['col1', 'col2']]

In [71]:
df = tweet.join(bridge.set_index('tweet_id'), on=['tweet_id'], how="left")
df = df.loc[(df['comment_num'] > 0) | (df['retweet_num'] > 0) | (df['like_num'] > 0)]
df['post_datetime'] = df['post_date'].apply(lambda x: datetime.fromtimestamp(x))
df['tomorrow_date'] = df['post_datetime'].apply(lambda x: (x + timedelta(days=1)).strftime("%Y-%m-%d"))
df = df.join(company_values.set_index(["ticker_symbol", "day_date"]), on=["ticker_symbol", "tomorrow_date"], how="left")
df.dropna(subset=['high_value'], inplace=True)
def get_delta_pct(x, y):
    return (x/y)-1
df['pct_change_tomorrow'] = df[['close_value', 'open_value']].apply(lambda x: get_delta_pct(*x), axis=1).astype(float)
df.drop(['tweet_id', 'post_date', 'post_datetime', 'tomorrow_date', 'volume', 'open_value', 'high_value', 'low_value', 'close_value'], axis='columns', inplace=True)
df

,writer,body,comment_num,retweet_num,like_num,ticker_symbol,pct_change_tomorrow
0,VisualStockRSRC,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL,-0.021627
3,ShowDreamCar,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,TSLA,-0.003048
4,i_Know_First,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL,-0.021627
4,i_Know_First,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,TSLA,-0.003048
5,aaplstocknews,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL,-0.021627
...,...,...,...,...,...,...,...
3716224,Sofiaan,It has been a great run with $TSLA stock Ross....,0,0,27,TSLA,0.032914
3716226,StrouseGraham,Commented on $TSLA - Tesla:?sht=q3d8vs&shu=ttf...,0,0,1,TSLA,0.032914
3716227,M8728205808,but you know what @danahull: better late than ...,0,0,3,TSLA,0.032914
3716228,ModelYendofICE,People dont get that we are TODAY at 675k for ...,0,0,6,TSLA,0.032914
3716229,rmattila74,Breaking: Goebbels Associates chief analyst Pe...,4,1,17,TSLA,0.032914

In [69]:
df

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol,post_datetime,tomorrow_date,close_value,volume,open_value,high_value,low_value,delta_pct,pct_change_tomorrow
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL,2014-12-31 16:00:57,2015-01-01,110.38,41304780.0,112.82,113.13,110.21,-0.021627,-0.021627
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,TSLA,2014-12-31 16:06:47,2015-01-01,222.41,2392947.0,223.09,225.68,222.25,-0.003048,-0.003048
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL,2014-12-31 16:10:05,2015-01-01,110.38,41304780.0,112.82,113.13,110.21,-0.021627,-0.021627
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,TSLA,2014-12-31 16:10:05,2015-01-01,222.41,2392947.0,223.09,225.68,222.25,-0.003048,-0.003048
5,550443808606126081,aaplstocknews,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL,2014-12-31 16:10:05,2015-01-01,110.38,41304780.0,112.82,113.13,110.21,-0.021627,-0.021627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3716224,1211912575727783937,Sofiaan,1577777448,It has been a great run with $TSLA stock Ross....,0,0,27,TSLA,2019-12-30 23:30:48,2019-12-31,418.33,10292460.0,405.00,421.29,402.08,0.032914,0.032914
3716226,1211912640399724544,StrouseGraham,1577777464,Commented on $TSLA - Tesla:?sht=q3d8vs&shu=ttf...,0,0,1,TSLA,2019-12-30 23:31:04,2019-12-31,418.33,10292460.0,405.00,421.29,402.08,0.032914,0.032914
3716227,1211912969753247744,M8728205808,1577777542,but you know what @danahull: better late than ...,0,0,3,TSLA,2019-12-30 23:32:22,2019-12-31,418.33,10292460.0,405.00,421.29,402.08,0.032914,0.032914
3716228,1211914179000651776,ModelYendofICE,1577777831,People dont get that we are TODAY at 675k for ...,0,0,6,TSLA,2019-12-30 23:37:11,2019-12-31,418.33,10292460.0,405.00,421.29,402.08,0.032914,0.032914
3716229,1211919635374886912,rmattila74,1577779132,Breaking: Goebbels Associates chief analyst Pe...,4,1,17,TSLA,2019-12-30 23:58:52,2019-12-31,418.33,10292460.0,405.00,421.29,402.08,0.032914,0.032914