In [24]:
import pandas as pd
from glob import glob
from datetime import datetime
glob("data/*")

['data/Company.csv',
 'data/CompanyValues.csv',
 'data/Company_Tweet.csv',
 'data/Tweet.csv']

In [17]:
company = pd.read_csv("data/Company.csv")
bridge = pd.read_csv("data/Company_Tweet.csv")
tweet = pd.read_csv("data/Tweet.csv")
company_values = pd.read_csv("data/CompanyValues.csv")
df = tweet.join(bridge.set_index('tweet_id'), on=['tweet_id'], how="left")
company.shape, bridge.shape, tweet.shape, company_values.shape

((6, 2), (4336445, 2), (3717964, 7), (17528, 7))

In [30]:
df = tweet.join(bridge.set_index('tweet_id'), on=['tweet_id'], how="left")
df = df.loc[(df['comment_num'] > 0) | (df['retweet_num'] > 0) | (df['like_num'] > 0)]
df

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,TSLA
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,TSLA
5,550443808606126081,aaplstocknews,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL
...,...,...,...,...,...,...,...,...
3717959,1212159765914079234,TEEELAZER,1577836383,That $SPY $SPX puuump in the last hour was the...,1,0,6,AAPL
3717960,1212159838882533376,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1,TSLA
3717961,1212160015332728833,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5,TSLA
3717962,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1,AAPL
3717962,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1,MSFT

In [28]:
df['post_datetime'] = df['post_date'].apply(lambda x: datetime.fromtimestamp(x))

In [29]:
df

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol,post_datetime
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL,2014-12-31 16:00:57
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL,2014-12-31 16:01:36
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0,AMZN,2014-12-31 16:01:50
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,TSLA,2014-12-31 16:06:47
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL,2014-12-31 16:10:05
...,...,...,...,...,...,...,...,...,...
3717960,1212159838882533376,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1,TSLA,2019-12-31 15:53:21
3717961,1212160015332728833,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5,TSLA,2019-12-31 15:54:03
3717962,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1,AAPL,2019-12-31 15:55:37
3717962,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1,MSFT,2019-12-31 15:55:37
3717963,1212160477159206912,treabase,1577836553,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0,AAPL,2019-12-31 15:55:53

In [ ]:
df

In [27]:
company_values

,ticker_symbol,day_date,close_value,volume,open_value,high_value,low_value
0,AAPL,2020-05-29,317.94,38399530,319.25,321.15,316.4700
1,AAPL,2020-05-28,318.25,33449100,316.77,323.44,315.6300
2,AAPL,2020-05-27,318.11,28236270,316.14,318.71,313.0900
3,AAPL,2020-05-26,316.73,31380450,323.50,324.24,316.5000
4,AAPL,2020-05-22,318.89,20450750,315.77,319.23,315.3500
...,...,...,...,...,...,...,...
17523,TSLA,2019-12-21,405.59,14785210,410.29,413.00,400.1850
17524,TSLA,2019-12-22,405.59,14785210,410.29,413.00,400.1850
17525,TSLA,2019-12-25,425.25,8054720,418.36,425.47,412.6875
17526,TSLA,2019-12-28,430.38,9956827,435.00,435.31,426.1100
17527,TSLA,2019-12-29,430.38,9956827,435.00,435.31,426.1100

In [15]:
tweet2.loc[tweet2['comment_num'] > 0]

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
22,550452877466935296,TheTrendIsUp,1420073167,My biggest winner in 2014: Inverse Volatility ...,1,0,0,AAPL
25,550453624258965505,WSJ,1420073345,Jeff Bezos lost $7.4 billion in Amazon's worst...,21,139,57,AMZN
26,550453897714995200,GillesKLEIN,1420073410,Jeff Bezos lost $7.4 billion in #Amazon worst ...,1,2,1,AMZN
57,550466945061908482,The_Dumb_Money,1420076521,"IMHO, $MSFT shockingly remains MILDLY undervalued",1,0,0,MSFT
92,550489146624856064,CNBC,1420081814,"Earlier this month, a mysterious glitch caused...",4,18,17,AAPL
...,...,...,...,...,...,...,...,...
3717947,1212155937588416517,QContrarian,1577835470,look at #tesla registrations in Netherlands f...,2,1,0,TSLA
3717957,1212159254884433921,QuantWolfLine,1577836261,Imagine calling your broker-dealer and wanting...,1,0,1,AAPL
3717959,1212159765914079234,TEEELAZER,1577836383,That $SPY $SPX puuump in the last hour was the...,1,0,6,AAPL
3717962,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1,AAPL
3717962,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1,MSFT

In [23]:

dt = datetime.fromtimestamp(1577836537)
dt

datetime.datetime(2019, 12, 31, 15, 55, 37)